

/**********************************/


@media all and (min-width: 768px) and (max-width: 960px){

  main{
    display: grid;
    grid-template-areas:
      'header header header header header'
      'menu main main right right'
      'menu e f g h'
      'menu footer footer footer footer';
    background-color: darkgray;
    }
  
    .a{
      grid-area: header;
    }
  
    .b {
      grid-area: menu;
    }
  
    .c {
      grid-area: main;
    }  
  
    .d {
      grid-area: right;
    }
  
    .e {
      grid-area: e;
    }
  
    .f {
      grid-area: f;
    }
    
    .g {
      grid-area: g;
    }
  
    .h {
      grid-area: h;
    }
  
    .j {
      grid-area: footer;
    }

  body{
    background-color: aliceblue;
  }

  .a span {
    margin-top: 5px;
    background-color: tan;
    width: 960px;
    height: 100px;
  }
  
  .b span {
    background-color: hotpink;
    width: 200px;
    height: 300px; 
  }
  
  .c span {
    background-color: plum;
    height: 300px; 
  }
  
  .d span {
    background-color: slateblue;
    height: 200px; 
  }
  
  
  .e span{
    background-color: darkred;
    height: 250px; 
  }
  
  
  .f span {
    background-color: springgreen;
    height: 250px; 
  }
  
  
  .g span {
    background-color: burlywood;
    height: 250px; 
  }
  
  
  .h span {
    background-color: ivory;
    height: 250px; 
  }
  
  .j span{
    background-color: thistle;
    height: 150px;
  }

}


@media screen and (min-width: 961px) and (max-width: 1880px){

  body{
    background-color: whitesmoke;
  }

  main{
  display: grid;
  grid-template-areas:
    'header header header header header'
    'menu main main right right'
    'menu e f g h'
    'menu footer footer footer footer';
  background-color: darkgray;
  }

  .a{
    grid-area: header;
  }

  .b {
    grid-area: menu;
  }

  .c {
    grid-area: main;
  }  

  .d {
    grid-area: right;
  }

  .e {
    grid-area: e;
  }

  .f {
    grid-area: f;
  }
  
  .g {
    grid-area: g;
  }

  .h {
    grid-area: h;
  }

  .j {
    grid-area: footer;
  }

  .a span {
    background-color: lightgoldenrodyellow;
    height: 100px;
  }
  
  .b span {
    background-color: cadetblue;
    height: 600px; 
  }
  
  .c span {
    background-color: oldlace;
    height: 200px; 
  }
  
  .d span {
    background-color: yellowgreen;
    height: 200px; 
  }
  
  
  .e span{
    background-color: mediumvioletred;
    height: 250px; 
  }
  
  
  .f span {
    background-color: orange;
    height: 250px; 
  }
  
  
  .g span {
    background-color: magenta;
    height: 250px; 
  }
  
  
  .h span {
    background-color: rebeccapurple;
    height: 250px; 
  }
  
  .j span{
    background-color: darkgreen;
    height: 150px;
  }

}