.e{
float: left;
}

.g{
  float: left;
}

/**********************************/

@media all and (min-width: 768px) {

  body{
    background-color: whitesmoke;
  }

  main{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 978px;
  background-color: darkgray;
  }

  * {
    outline: 5px solid darkgray;
    outline-offset: -1px;
  }

  .a {
    margin-left: 8px;
    background-color: blue;
    }

  .b {
    float: left;
    margin-right: 4px;
    margin-top: 3px;
    background-color: pink;
  }

  .c {
    float: left;
    background-color: yellow;
  }  

  .d {
    float: right;
    margin-right: 9px;
    background-color: green;
  }

  .e {
    float: left;
    background-color: bisque;
  }

  .f {
    float: left;
    margin-right: 4px;
  }
  
  .g {
    float: left;
    background-color: lightcoral;
  }

  .h {
    float: right;
    margin-right: 4px;
    background-color: lightskyblue;
  }

  .a span {
    margin-top: 5px;
    background-color: lightgoldenrodyellow;
    width: 960px;
    height: 250px; 
  }
  
  .b span {
    background-color: cadetblue;
    width: 200px;
    height: 600px; 
  }
  
  .c span {
    background-color: oldlace;
    width: 380px;
    height: 200px; 
  }
  
  
  .d span {
    background-color: yellowgreen;
    width: 380px;
    height: 200px; 
  }
  
  
  .e span{
    background-color: mediumvioletred;
    width: 190px;
    height: 250px; 
  }
  
  
  .f span {
    background-color: orange;
    width: 190px;
    height: 250px; 
  }
  
  
  .g span {
    background-color: magenta;
    width: 190px;
    height: 250px; 
  }
  
  
  .h span {
    background-color: rebeccapurple;
    width: 190px;
    height: 250px; 
  }
  
  .i span {
    height: 150px;
    width: 760;
    background-color: skyblue;
    margin-left: 5px;
  }

}