.a span {
  display: block;
  background-color: aliceblue;
  width: 100%;
  height: 75px;
  text-align: center;
}

.b span {
  display: block;
  background-color: pink;
  width: 100%;
  height: 150px;
  text-align: center;
}

.c span {
  display: block;
  background-color: lightcyan;
  width: 100%;
  height: 125px;
  text-align: center;
}


.d span {
  display: block;
  background-color:green;
  width: 100%;
  height: 125px;
  text-align: center;
}


.e span {
  display: block;
  background-color: lightcyan;
  /* width: 50%; */
  height: 250px;
  text-align: center;
  flex-direction: row;
}


.f span {
  display: block;
  background-color: darkblue;
  /* width: auto; */
  height: 250px;
  text-align: center;
}


.g span {
  display: block;
  background-color: yellow;
  /* width: 50%; */
  height: 250px;
  text-align: center;
}


.h span {
  display: block;
  background-color: goldenrod;
  /* width: 50%; */
  height: 250px;
  text-align: center;
}

.j span {
  display: inline-block;
  background-color: lavender;
  width: 100%;
  height: 80px;
  text-align: center;
}