.a img {
  content: url(https://via.placeholder.com/480x75);
}

.b img {
  content: url(https://via.placeholder.com/480x150);
}

.c img {
  content: url(https://via.placeholder.com/480x125);
}


.d img {
  content: url(https://via.placeholder.com/480x125);
}


.e img {
  content: url(https://via.placeholder.com/240x250);
}


.f img {
  content: url(https://via.placeholder.com/240x250);
}


.g img {
  content: url(https://via.placeholder.com/240x250);
}


.h img {
  content: url(https://via.placeholder.com/240x250);
}

.i img {
  content: url(https://via.placeholder.com/480x80);
}